/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: var(--eerie-black);
	text-transform: capitalize;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section span {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

aside .top .logo img{
	width: 30%;
}

:root{
--seasalt: #f8f9faff;
--antiflash-white: #e9ecefff;
--platinum: #dee2e6ff;
--french-gray: #ced4daff;
--french-gray-2: #adb5bdff;
--slate-gray: #6c757dff;
--outer-space: #495057ff;
--onyx: #343a40ff;
--eerie-black: #212529ff;
--hunyadi-yellow: #f6bd60ff;
--linen: #f7ede2ff;
--tea-rose-red: #f5cac3ff;
--cambridge-blue: #84a59dff;
--light-coral: #f28482ff;
--circle1:#9b5de5;

--sidebar-height : calc(100vh - 100px);
--padding-1:1rem;
--padding-2:1.2rem;
--padding-3:1.5rem;
--padding-4:3rem;
}

/* end css reset */
*{
	box-sizing: border-box;
}
html{
	font-size: 14px;
}
body{
	background-color: var(--seasalt);
}
.container{
	display: grid;
	grid-template-columns: .5fr 2fr .4fr;
}
aside{
	height: 100vh;
	border-right: 1px solid var(--french-gray-2);
}

/* logo */
aside .top{
	height: 100px;
	padding: 1rem 0rem 0 1.2rem;
}
aside .top .logo{
	display: flex;
	align-items: center;
	gap: 10px;
}

.company-title h2{
	font-size: 1.5rem;
	font-weight: 800;
}
.company-title .line-title{
	border-top: 1px solid var(--eerie-black);
}
.company-title span{
	margin-left: 1rem;
	font-size: 1.5rem;
	font-weight: 800;
	color: var(--light-coral);
}



/* end of logo */
.sidebar{
	height: var(--sidebar-height);
	position: relative;
	padding-top: 3rem;
}
.sidebar  a{
	display: flex;
	align-items: center;
	margin-left: var(--padding-4);
	font-size: 1.2rem;
	gap: 1rem;
	padding: 1rem 1.2rem;

}

.sidebar  a:hover:nth-child(-n+9){
	background-color: rgba(242, 132, 130, .3);
	transition: .2 ease-in-out;
	border-left: 10px solid var(--light-coral);
	color: var(--light-coral);
}

.sidebar a:hover h3{
	color: var(--light-coral);
}

.sidebar a:hover span{
	color: var(--light-coral);
}
.sidebar a:last-child{
	position: absolute;
	padding: 0;
	bottom: 20px;
	margin-left : 0;
	left: 50%;
	transform: translateX(-50%);
}

/* main dashboard */
.main{
	padding: 0 2rem 0;
}
.main h1{
	font-size: 2.2rem;
	font-weight: 800;
	padding: var(--padding-1) 0 var(--padding-2);
}

/* card info */

.main .card{
	display: flex;
	height: 25vh;
	gap: 2rem;
	justify-content: space-between;
	flex-wrap: wrap;

}

.data{
	height: 100%;
	flex: 1 1 200px;
	background-color: #fff;
	border-radius: 1.4rem;
	display: flex;
	justify-content: space-between;	
	align-items: center;
	flex-wrap: wrap;
	gap: .5rem	;
}

.data div{
	flex: 1 1 100px;
	height: 100%;
	padding: 2rem;
}

.data div svg{
	fill: white;
	width: 2.4rem;
	height: 2.4rem;
	padding: 2px;
	border-radius: 50%;
}

.data .Sales svg{
	background-color: #0081a7;
}

.data .expense svg{
	background-color: #8e7dbe;
}

.data .income svg{
	background-color: #99c1b9;
}


.data h2{
	font-size: 1rem;
	font-weight: 700;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 1rem 0;
	color: var(--outer-space);
}

.data h3{
	font-size: 20px;
	font-weight: 900;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--onyx);
}
/*end of card info */

/* data table */
table {
	border:1px solid #b3adad;
	border-collapse:collapse;
	padding:5px;
	width: 100%;
}
table th {
	border:1px solid #b3adad;
	padding:5px;
	background: #f0f0f0;
	color: #313030;
}
table td {
	border:1px solid #b3adad;
	text-align:center;
	padding:5px;
	background: #ffffff;
	color: #313030;
}


/* sidebar kanan */
.right-sidebar{
	background-color: var(--cambridge-blue);
}


@media (max-width:1366px) {
	.sidebar{
		padding-top: var(--padding-1);
	}
	.sidebar a{
		font-size: 1rem;
		padding: .8rem 1rem;
		margin-left: 5rem;
	}

}

/* https://nikitahl.github.io/svg-circle-progress-generator/ */